.app-header {
  background-color: transparent;
  color: var(--gray3);
  font-size: 1.2rem;
  /* border-bottom: 2px solid var(--clr1); */

  .nav-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .title {
      font-size: 1.4rem;
      text-align: center;
      width: 8em;
      font-weight: 400;
      padding-block: 1.2em;
    }
  }

  .nav-menu {
    a {
      font-family: 'Edu VIC WA NT Beginner', cursive;
      text-align: center;
      width: 8em;
      padding-block: 1.2em;

      &:hover {
        border-inline: 2px solid var(--clr1);
      }
    }
  }
}

@media(max-width: 720px) {
  /* .app-header {
    color: var(--gray1);
  } */
}