.app-header {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  /* background-color: transparent; */
  font-size: 1.2rem;

  .nav-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .title {
      font-size: 1.3rem;
      text-align: center;
      max-width: 8em;
      font-weight: 400;
      padding-block: 1.2em;
    }
  }

  .nav-menu {
    justify-self: center;
    gap: 3em;

    a:hover {
      scale: 1.2;
      transition: .3s;

    }

    a.active {
      scale: 1.2;
      color: var(--clr-dark);
      font-weight: 800;
    }
  }
}

@media(max-width: 720px) {
  .app-header {

    .nav-title {
      grid-template-columns: 1fr;
     
      .title {
        font-size: 1.1rem;
      }
    }


    .nav-menu {
      gap: 1em;
    }
  }
}