.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 25px;
    justify-content: center;

    transition: .4s;
    margin-top: 1.6em;
    list-style: none;
}

.book-list li {
    display: grid;
    align-items: center;
    justify-items: center;

    position: relative;

    transition: .4s;
    padding-bottom: 5px;
    background-color: var(--clr2);
    /* border: 2px solid var(--clr1); */
    /* box-shadow: 0 1px 4px 2px var(--clr1); */
    border-radius: .2em;
    padding: 0;
    --animate-duration: 1s;

    .sale {
        position: absolute;
        left: -0.5em;
        top: -0.5em;

        background-color: var(--clr-red);
        /* background-color: red; */
        box-shadow: 0 5px 10px var(--clr-light);
        /* border: 2px solid var(--gray1); */
        color: var(--clr-light);
        border-radius: 50%;
        padding: 0.4em;
        font-family: cursive;
    }

    button {
        font-size: 1rem;
        /* margin-top: 0; */
        margin: 0.5em;
        padding: 0;
        background-color: inherit;

        &:hover {
            opacity: 0.4;
            color: inherit;
        }
    }

    .btn-remove {
        position: absolute;
        top: -0.8em;
        right: -1em;
    }

    .btn-details {
        position: absolute;
        bottom: -0.4em;
        left: -0.4em;
    }
}

.book-list li.loading {
    opacity: 0.7;
}