.book-preview {
    text-align: center;
    padding: 0.3em;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-top: .7em;
        text-transform: capitalize;
        color: var(--gray3);
        font-family: cursive;
        font-weight: 100;
        margin-bottom: .1em;
        font-size: 1rem;
    }

    section {
        font-size: .8rem;
        font-weight: 100;
        margin-bottom: .3em;
        font-family: cursive;
    }

    img {
        margin-block: .5em;
        max-width: 100px;
        border-radius: .2em;
    }
}