.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 30px;
    justify-content: center;

    transition: .4s;
    margin-top: 1.6em;
    list-style: none;
}

.book-list li {
    display: grid;
    align-items: center;
    justify-items: center;

    position: relative;
    --animate-duration: 1s;
    transition: .4s;

    padding-bottom: 5px;
    background-color: var(--clr2);
    border-radius: .2em;
    padding: 0;

    .sale {
        position: absolute;
        left: -0.5em;
        top: -0.5em;
        
        background-color: var(--clr-red);
        /* background-color: red; */
        box-shadow: 0 5px 10px var(--clr-light);
        color: var(--clr-light);
        border-radius: 50%;
        padding: 0.4em;
        font-family: cursive;
    }
    
    &:hover .btn-details,
    &:hover .btn-remove {
        opacity: 1;
        pointer-events: auto;
    }
    
    .btn-details,
    .btn-remove {
        font-size: 0.9rem;
        color: var(--gray3);
        padding: 0;
        background-color: inherit;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        
        position: absolute;
        bottom: -0.4em;
    
        &:hover {
            transition: 0.5s;
            scale: 1.2;
            color: inherit;
        }
    }

    .btn-remove {
        right: -0.5em;
    }

    .btn-details {
        left: -0.4em;
    }
}

.book-list li.loading {
    opacity: 0.7;
}

.book-list:has(li:hover)>li:not(:hover) {
    scale: 0.9;
    opacity: .5;
}