.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;

    transition: .4s;
    list-style: none;
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    transition: .4s;
    padding-bottom: 5px;
    background-color: var(--clr1);
    /* border: 2px solid var(--clr1); */
    border-radius: .6em;
    --animate-duration: 0.4s;
}

.book-list li.loading {
    opacity: 0.7;
}