.book-preview {
    text-align: center;
    padding: 0.3em;

    display: grid;
    align-self: center;
    grid-auto-flow: row;
    grid-template-rows: 1fr;

    .title {
        text-transform: capitalize;
        color: var(--gray3);
        font-weight: 100;
        /* font-weight: 300; */
        font-size: 1rem;
    }

    .price {
        font-size: .7rem;
        font-weight: 100;
        /* margin-top: .3em; */
        margin-bottom: 0.4em;
    }

    img {
        justify-self: center;

        margin-top: .5em;
        margin-bottom: .2em;
        max-width: 110px;
        border-radius: .1em;
    }

    .description {
        font-size: .6rem;
        font-weight: 600;
        color: var(--gray2);
    }
}