.book-preview {
    text-align: center;
    padding: 0.3em;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-top: .7em;
        text-transform: capitalize;
        color: var(--gray3);
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        margin-bottom: .1em;
        font-size: 1.2rem;
    }

    section {
        /* font-size: 1rem; */
        margin-bottom: .3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    img {
        margin-block: .5em;
        max-width: 100px;
        border-radius: .2em;
    }
}