.book-filter {
    display: flex;
    align-items: center;
    gap: 0.5em;

    background-color: var(--clr2);
    width: max-content;
    margin: auto;
    padding: .8em;
    border-radius: 0.4em;
}

.book-filter>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: .3em;
}

.book-filter form {
    display: grid;
    grid-template-columns: repeat(2, minmax(133px, 140px));
    grid-auto-flow: column;
    /* gap: 0; */
    justify-content: center;
}

.book-filter form label {
    justify-self: start;
}

.book-filter form input {
    justify-self: center;
    width: 10em;
}

.book-filter form button {
    align-self: center;
    border-radius: 10em;
    height: 100%;
}