.search-books-list {
    font-size: .8rem;

    li {
        padding-inline-start: 1em;
        justify-self: start;
    }
    
    .btn-add-book {
        margin: 0;
        border-radius: 100%;
        padding: .3em;
        padding-inline: .6em;
    }
}