.about {
    margin: .5em auto;
    padding-inline: 2em;
    border-inline: 2px solid var(--clr1);
    width: 75vw;

    .title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
    }

    a {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
    }

    a:hover {
        animation: jello;
        animation-duration: 2s;
    }

    p {
        font-weight: 100;
        padding-bottom: .5em;
    }

    .montserrat-class {
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
}