.about {
    margin: .5em auto;
    padding-inline: 2em;
    border-inline: 2px solid var(--clr1);
    width: 75vw;

    a {
        display: block;
        text-transform: uppercase;
    }
    a:hover {
        animation: jello;
        animation-duration: 2s;
    }

    p {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-bottom: .5em;
    }
}