.book-details {
    display: grid;
    align-items: center;

    h2 {
        color: var(--clr1);
        font-weight: 800;
        font-size: 3em;
        margin-bottom: .3em;
    }

    .description {
        font-family: cursive;
    }

    .price {
        justify-self: center;

        margin-top: .5em;
        font-size: .9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    button {
        justify-self: start;

        font-size: .9rem;
        background-color: var(--clr2);
        color: var(--gray3);

        &:hover {
            background-color: var(--clr1-dark);
            color: var(--gray1);
        }
    }
}


.book-details img {
    justify-self: center;

    max-width: 200px;
    display: block;
    margin-top: .3em;
}