.book-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    .header {
        .title {
            justify-self: start;

            color: var(--clr1);
            font-weight: 800;
            font-size: 3em;
            margin-bottom: .1em;
        }

        .subtitle {
            font-size: 1.3rem;
            margin-bottom: 1em;
        }

        .published-date {
            font-family: 'Edu VIC WA NT Beginner', cursive;
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--clr-dark);
        }
    }

    .book-price {
        grid-row: 1 / 4;
        justify-self: end;
        align-self: center;

        position: relative;

        .high {
            color: var(--clr-red);
        }

        .price {
            justify-self: center;

            margin-top: .5em;
            font-size: .9rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .sale {
            position: absolute;
            top: -0.5em;
            left: -1em;

            background-color: var(--clr-red);
            color: var(--clr-light);
            border-radius: 50%;
            padding: 0.3em;
            /* font-weight: 600; */
            font-size: 1.4rem;
            text-align: center;
            font-family: cursive;
        }

        img {
            max-width: 220px;
            margin-top: .3em;
        }
    }

    .basic-info {
        grid-row: 2 / 3;

        .sub {
            font-weight: 800;

            span {
                font-weight: 200;
            }
        }
    }

    .pages {
        .level {
            color: var(--clr-dark);
            margin-top: 0.5em;
            font-weight: 800;
            font-size: 1.2rem;
            font-family: cursive;
        }

        .pages-count {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }

    p {
        font-family: cursive;
    }

    section {

        .title-description {
            grid-row: 3 / 4;
            color: var(--clr-dark);

            font-weight: 700;
            margin-top: 0.5em;
            font-family: cursive;
            font-size: 1.1rem;
        }

        p {
            margin: 0;
        }
    }

    .btn-back {
        justify-self: end;
        align-self: end;
        grid-row: 4 / 5;
        grid-column: 2 / 3;

        font-size: .9rem;
        background-color: var(--clr2);
        color: var(--gray3);

        &:hover {
            background-color: var(--clr-dark);
            color: var(--gray1);
        }
    }
}