.book-edit {
    text-align: center;
    border: 2px solid var(--clr-dark);
    border-radius: 0.5em;
    width: max-content;
    margin: auto;

    .title {
        font-weight: 400;
        margin-top: .8em;
    }

    .title-search {
        font-weight: 400;
    }

    button {
        grid-column: 2 / 3;

        font-weight: 600;
        border: 2px solid var(--clr-dark);
        margin-bottom: 1.4em;

        &:hover {
            background-color: var(--clr-dark);
            color: var(--gray3);
        }
    }

    .btn-save {
        border: 0;
    }

    .select-rating {
        grid-column: 3 / 4;
    }

    .radio-rating {
        display: flex;
        gap: 1em;
        grid-column: 3 / 4;
    }
}

.book-edit form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-inline: 1em;

    /* align-items: center; */


    font-size: 1rem;
    width: 100%;
    /* margin: auto; */

    label {
        grid-column: 1 / 2;

        font-weight: 300;
        text-align: start;
    }
}

.book-edit form input {
    grid-column: 3 / 4;

    width: 100%;
    margin-bottom: 1rem;
}

.book-edit form.loading {
    opacity: 0.3;
}

section .edit-link {
    display: flex;
    justify-self: center;

    border: 2px solid var(--clr-dark);

    &:hover {
        background-color: var(--clr-dark);
        color: var(--gray3);
    }
}

.rate-by-textbox .rating,
.rate-by-stars,
.rate-by-select .rating {
    margin: 0;
}
 .dynamic-cmps {
    grid-column: 3 / 4;
 }