.book-edit {
    text-align: center;
    border: 2px solid var(--clr-dark);
    border-radius: 0.5em;
    width: max-content;
    margin: auto;

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    button {
        grid-column: 2 / 3;

        border: 2px solid var(--clr-dark);
        margin-bottom: 1.4em;

        &:hover {
            background-color: var(--clr-dark);
            color: var(--gray3);
        }
    }
}

.book-edit form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-inline: 1em;

    /* align-items: center; */

    
    font-size: 1rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 100%;
    /* margin: auto; */

    label {
        grid-column: 1 / 2;
        text-align: start;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;

    }
}

.book-edit form input {
    grid-column: 3 / 4;

    width: 100%;
    margin-bottom: 15px;
}

.book-edit form.loading {
    opacity: 0.3;
}

section .edit-link {
    display: flex;
    justify-self: center;

    border: 2px solid var(--clr-dark);

    &:hover {
        background-color: var(--clr-dark);
        color: var(--gray3);
    }
}