.app {
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 5em 1fr;
}

.main-layout {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.app-header {
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .nav-menu {
    grid-auto-flow: column;
    justify-content: end;
  }
}